name: Deploy migrations
on:
  push:
    branches:
      - main
    paths:
      - 'backend/migrations/**'

jobs:
  deploy-migrations:
    name: Deploy database migrations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm ci

      - name: Apply all pending migrations
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}